@media all and (min-width:400px) and (max-width:900px){
    .part1{
         grid-template-columns:repeat(3,1fr);
        /* 6 */
    }
    .part2{
         grid-template-columns: repeat(1,1fr);
        /* 2  6 3 3*/
    }
    .part3{
         grid-template-columns:repeat(3,1fr)
    }
    .part4{
         grid-template-columns:repeat(2,1fr)
    }
    .part5{
         grid-template-columns:repeat(1,1fr)
    }
}
@media screen and (max-width:399px){
    .part1{
         grid-template-columns: repeat(2,1fr);
        /* 6 */
    }
    .part2{
         grid-template-columns:1repeat(1,1fr)
        /* 2  6 3 3*/
    }
    .part3{
         grid-template-columns:repeat(2,1fr)
    }
    .part4{
         grid-template-columns:repeat(1,1fr)
    }
    .part5{
         grid-template-columns:repeat(1,1fr)
    }
} 